#customer-window{
    position: absolute;
    top: 200vh;
    height: 100vh;
    width: 99vw;
}
#store-window{
    position: absolute;
    top: 300vh;
    height: 100vh;
    width: 99vw;
}
#all-order-window{
    position: absolute;
    top: 500vh;
    height: 100vh;
    width: 99vw;
}
nav{
    z-index: 10000;
}
.container-fluid{
    padding: 0;
    background-color: #fddbdb;
}
.nav-item{
    font-family: 'K2D', sans-serif;
    font-size: 24px;
    font-weight: bold;
}
#customer-img{
    height: 50px;
    width: 50px;
}
#store-img{
    height: 50px;
    width: 50px;
}
#all-order-img{
    height: 50px;
    width: 50px;
}
.logo-img{
    height: 50px;
    width: 50px;
}
.h2{
    font-family: 'K2D', sans-serif;
    font-size: 24px;
    display: inline-block;
    margin: 10px;
}
#customer-background{
    height: 80vh;
    width: 98vw;
    position: absolute;
    top: 115px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #dcdbfd;
}
#store-background{
    height: 80vh;
    width: 98vw;
    position: absolute;
    top: 115px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #dcdbfd;
}
label{
    font-family: 'K2D', sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.button-set{
    display: flex;
    justify-content: space-around;
}