.login{
    height: 80vh;
    width: 30vw;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #DCDBFD;
}
.img-fluid{
    height: 125px;
    width: 125px;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    margin: auto;
}
.text-center{
    font-family: 'K2D', sans-serif;
    color: #221ef0;
}
.form-floating{
    border: 2px solid red;
    border-radius: 5px;
    position: absolute;
    top: 180px;
    right: 0;
    left: 0;
    margin: auto;
}
.login-btn{
    position: absolute;
    top: 130px;
    right: 0;
    left: 0;
    margin: auto;
}
.signup-btn{
    position: absolute;
    top: 215px;
    right: 0;
    left: 0;
    margin: auto;
}
.or-txt{
    position: absolute;
    top: 165px;
    right: 0;
    left: 0;
    margin: auto;
}